mixin footer(isMain, css="")
  if isMain
    span.text-center.italic.font-extralight.text-gray-300.text-sm This website serves as a personal portfolio and is not intended for commercial purposes.
  else 
    div.text-center.italic.mt-4.font-extralight.text-gray-500.text-xs(class=css) This website serves as a personal portfolio and is not intended for commercial purposes.
    