mixin header(isHeader, page)
  if isHeader
    div
      header.flex.w-screen.items-center.bg-secondary
        div.p-2.container.flex.mx-auto.justify-between.items-center.border-b-2.border-slate-200
          a.w-10.h-10(href="/")
            img.mx-auto.my-0(src="/assets/main.png" alt="main profile image" class="hover:grayscale-0")
          div.flex.gap-2
            - var navList = ["works", "about"]
               each item in navList 
                - var currentNavigationStyle = item === page ? 'text-primary' : 'hover:text-primary'
                  a.link-text.text-xl(class=`${currentNavigationStyle}` href=`/${item}.html`)=item