doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, minimal-ui, viewport-fit=cover")
    link(rel="shortcut icon", href="/assets/main.png")
    link(rel='stylesheet' href='/tailwind.css', type='text/css')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Notable&family=Nothing+You+Could+Do&family=Noto+Sans&display=swap" rel="stylesheet")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    block headScript
    title JINA LEE
  body
    block content
